*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

    body{
    background-color: pink
}

h1{
    font-size: 50px;
    padding-top: 5px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 25%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.navlist{
    display: flex;
}

.navlist a{
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: #fff;
}

.active{
    color: white;
}

.right-col {
    color: gray;
}


.socials{
    display: inline-flex;
    width: 37px;
    height: 37px;
    position: fixed;
    top: 92%;
    left: 30%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}


p{
    text-align: center;
    padding-top: 10px;
}